<div class="container">
   <form autocomplete="off" (ngSubmit)="pesquisar()">
      <p-panel>
        <p-header>
          <div class="p-col-12" style="font-size:16px;margin-top:5px;">Lançamentos</div>
      </p-header>
      <div class="ui-g">
        <div class="ui-g-12 ui-fluid">
          <label>Descrição</label>
          <input pInputText type="text" name="descricao"
            [(ngModel)]="filtro.descricao">
        </div>
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Tipo</label>
          <p-dropdown [options]="tipos" name="tipo" [(ngModel)]="filtro.tipo"
          placeholder="Selecione um Tipo" [showClear]="true"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <label style="display: block">Vencimento</label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
            name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

          <label> até </label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
            name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
        </div>
      </div>
        <p-footer>
          <button pButton type="submit" label="Pesquisar" icon="pi pi-search"></button>
          <a pButton routerLink="/lancamentos/novo" icon="pi pi-plus" label="Novo"
          style="margin-left:.25em"></a>
      </p-footer>
    </p-panel>
    </form>

<br>
      <p-table [value]="lancamentos" [responsive]="true"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.cliente }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data">{{ lancamento.dataVencimento | date:'dd/MM/yyyy' }}</td>
            <td class="col-data">{{ lancamento.dataPagamento | date:'dd/MM/yyyy' }}</td>
            <td class="col-valor" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
              {{ lancamento.valor | number:'1.2-2' }}</td>
            <td class="col-acoes">
              <a pButton icon="fa fa-pencil" pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/lancamentos', lancamento.id]"></a>
                &nbsp;
              <button pButton icon="fa fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(lancamento)"
                [disabled]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <!-- Valor Total {{valorTotal || number:'1.2-2'}} -->
      </ng-template>
      </p-table>
</div>
